body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-spinning {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#student {
  position: fixed;
  width: 100%;
  height: 100%;;
}

#student #imgDraw {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;   
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

.container-drawn-students{
  position: fixed;
  height: 30%;
  max-width: 100%;
  top: 10px;
  left: 10px;
  z-index: 12;
}

.image-drawn-students {
  height: 35%;
}

@media screen and (min-width: 768px) {
  .container-drawn-students{
    max-width: 30%;
  }

  .image-drawn-students {
    height: 50%;
  }
}


.buttons-draw{
  bottom: 20px;
  position: fixed;
  z-index: 12;
}

button {
  background-color: #009D4D;
  border: none;
  color: white;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:disabled{
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: lightgreen;
}

#btnReset{
  background-color: #f00;
}
