body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.background-spinning {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#student {
  position: fixed;
  width: 100%;
  height: 100%;;
}

#imgDraw {
  background-repeat: no-repeat;
  background-size: 100%;   
  height: 100%;
  margin: 0 auto;
  width: 50%;
  z-index: 1;
}

#student .student-input{
  display: block;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

button {
  background-color: #009D4D;
  border: none;
  color: white;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#btnReset{
  background-color: #f00;
}

.buttons-draw{
  position: fixed;
  z-index: 12;
}